name: Build Docker Image
on:
  push:
    branches: feature
jobs:
  Build_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        
      - name: build docker-image 
        run: |
             #docker build -f ./Dockerfile -t image1 . 
             #docker build --no-cache -t openjdk11-node14-gradle7.3:v11.0.13 .
             docker build --no-cache -t vsbt-2017 .
       
