name: Build Docker Image
on:
  push:
    branches: feature
jobs:
  Build_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          
      - name: Build_Image
        shell: pwsh
        run: |          
              $image=img1
              Write-Host "$image is getting build"
              docker build -t $image .
              $image_FQDN="stellantis-harbor.artifactory.intra.fcagroup.com/$image:v1.0"
              Write-Host "$image is getting build"
              docker tag $image $image_FQDN
              Write-Host "$image is getting tagged to $image_FQDN"
            
              
             
        
       
