name: Build Docker Image
on:
  push:
    branches: feature
jobs:
  Build_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
    
        
      - name: build docker-image 
        run: |
             #docker build --no-cache -t img1 . 
             docker build -t img1t:$(docker images | awk '($1 == "img1") {print $2 += .01; exit}') .
        
       
