name: PR
on:
  push:
    branches: feature
    
jobs:
  action-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Raise PR 
        uses: peter-evans/create-pull-request@v3
        with:
          branch: "develop"
          base: feature
          title: "auto PR from feature to develop"
          committer: ${{ env.GIT_COMMIT_AUTHOR_NAME }} <${{ env.GIT_COMMIT_AUTHOR_EMAIL }}">
          author: ${{ env.GIT_COMMIT_AUTHOR_NAME }} <${{ env.GIT_COMMIT_AUTHOR_EMAIL }}">
          body:
            PR creation
          token: ${{ secrets.GITHUB_TOKEN }}
          delete-branch: true
          
